.app-content__cart-list {}

.app-content-cart-list__text {
    background-color: var(--white-color);
    line-height: 4rem;
    padding-left: 12px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 1px 2px 2px var(--background-header-color);
}

.app-content-cart-list__list {
    background-color: var(--white-color);
    border-radius: 4px;
    margin-top: 4px;
    padding: 14px 12px;
    box-shadow: 1px 2px 2px var(--background-header-color);
}

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-empty img {
    width: 80%;
}

.cart-empty div {
    text-align: center;
}

.cart-empty a {
    padding: 14px 24px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.app-content-cart-list__item {
    display: flex;
    align-items: center;
    gap: 0 16px;
    padding: 12px 0;
    border-top: 1px dashed var(--border-color);
    border-bottom: 1px dashed var(--border-color);
}

.app-content-cart-list__item:first-child {
    border-top: none;
}

.app-content-cart-list__item:last-child {
    border-bottom: none;
}

.app-content-cart-list-item__img {
    width: 72px;
    height: 100%;
}

.app-content-cart-list-item__img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.app-content-cart-list-item__body {
    flex: 1;
}

.app-content-cart-list-item-body__name {
    font-weight: 600;
    line-height: 1.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app-content-cart-list-item-body__author {
    margin: 8px 0;
    color: var(--secondary-color);
}

.app-content-cart-list-item-body__author::before {
    content: 'Tác giả: ';
}

.app-content-cart-list-item-body__remove {
    color: #999;
    cursor: pointer;
}

.app-content-cart-list-item-body__remove:hover {
    opacity: .9;
}

.app-content-cart-list-item__price {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.app-content-cart-list-item__quantiy {
    display: flex;
    align-items: center;
}

.app-content-cart-list-item-quantiy__up, .app-content-cart-list-item-quantiy__down {
    --size: 28px;
    width: var(--size);
    height: var(--size);
    text-align: center;
    line-height: var(--size);
    font-size: 1.6rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.app-content-cart-list-item-quantiy__input {
    --size: 28px;
    height: var(--size);
    width: calc(var(--size) * 2);
}

.app-content-cart-list-item-quantiy__input>input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--border-color);
    text-align: center;
}

.app-content-cart-list__checkout {
    background-color: var(--white-color);
    padding: 24px 16px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 2px 2px var(--background-header-color);
    position: sticky;
    position: -webkit-sticky;
    top: 136px;
}

.app-content-cart-list-checkout__body {
    margin-bottom: 24px;
}

.app-content-cart-list-checkout-body__total-price, .app-content-cart-list-checkout-body__quantity {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 12px;
}

.app-content-cart-list-checkout-body__total-price {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.app-content-cart-list-checkout-body__extra {
    font-size: 1.2rem;
    color: var(--text-color-light);
}

.app-content-cart-list-checkout__btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.app-content-cart-list-checkout__btn:hover {
    opacity: .9;
}